<script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js">
</script>

<script type"text/javascript" src="/assets/graph.js"></script>
<script type"text/javascript" src="/assets/outline.js"></script>

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #333;
  stroke-opacity: .6;
  fill: none;
  stroke-width: 1.5px;
  cursor: default;
}

aside {
    border-width: 1px;
    border-style: dashed;
    border-color: blueviolet;
    padding: 5px;
    padding-left: 50px;
}



</style>
